<style>
* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
}

body {
  display: flex;
  flex-direction: column;

  text-align: center;
  background-image: url("https://i.imgur.com/CKuj93j.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.skills {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
table {
  
  display: flex;
  align-self: center;
  justify-content: space-around;
  border-radius: 5px;

  background: rgba(255, 255, 255, 0.958);
  max-width: 800px;
  min-width: 275px;
  border: 2px solid rgba(128, 128, 128, 0.15);
  border-radius: 5px;
}


th {
  background-color: #009879;

  padding: 5px;
  color: #ffffff;
  /* text-align: left; */
  border-radius: 4px;
}
td {
  padding: 5px 5px;
}
tr {
  text-align: center;
}

.newSkill {
  position: center;
  left: 130px;
  margin-top: 5px;
  border: 3px solid #226fbe;
  border-radius: 15px;
  padding: 8px;
  cursor: pointer;
  background-color: #2270bee5;
  font-size: 15px;
  font-weight: bold;
}

.newSkill:hover {
  border: 3px solid #226fbe;
  background-color: #2270be38;
}


</style>



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="style.css">
  <title>Skills</title>
</head>
<body>
  
  
    <h1>Skills</h1>
<div class="skills"></div>
    <table>
      <tr>
        <th>Skill</th>
        <th>Experience</th>
        <th>Proficiency</th>
      </tr>

      <% data.forEach(function(data, index){ %>

      <tr>
        <td><a href="/skills/<%=data.index%>"> <%=data.skill %></a></td>
        <td><%= data.time %></td>
        <td><%= data.proficiency %></td>
        
      
      </tr>
      <% }) %>
    </table>
  </div>
  <form  action="/newSkill">
    <input class="newSkill" type="submit" value="New Skill" />
</form>

</body>
</html>



